
$sans-serif-font: ('Source Sans Pro', 'Avenir Next', 'Avenir', 'Helvetica', sans-serif);

@mixin body-font {
    font-family: $sans-serif-font;
    -webkit-font-smoothing: antialiased;
    line-height: 1.58;
}
