
@import "common";
@import "./source-sans-pro/source-sans-pro.css";

html,
body,
main,
main > div {
    margin: 0;
    min-height: 100%;
}

body {
    background-color: $theme-bg-color;
}

main > div {
    margin: 50px auto;
    padding: 100px;
    min-width: 300px;
}

* {
    box-sizing: border-box;
}
