
@mixin reset-input {
    background: none;
    appearance: none;
    border: none;
    margin: 0;
    padding: 0;
    outline: 0;
}

@mixin reset-button {
    background: none;
    appearance: none;
    border: none;
    margin: 0;
    padding: 0;
    outline: 0;
    cursor: pointer;
    display: block;
    color: inherit;
    text-align: left;
}
