@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    src: url('./EOT/SourceSansPro-ExtraLight.eot') format('embedded-opentype'),
         url('./WOFF2/TTF/SourceSansPro-ExtraLight.ttf.woff2') format('woff2'),
         url('./WOFF/OTF/SourceSansPro-ExtraLight.otf.woff') format('woff'),
         url('./OTF/SourceSansPro-ExtraLight.otf') format('opentype'),
         url('./TTF/SourceSansPro-ExtraLight.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 200;
    font-style: italic;
    font-stretch: normal;
    src: url('./EOT/SourceSansPro-ExtraLightIt.eot') format('embedded-opentype'),
         url('./WOFF2/TTF/SourceSansPro-ExtraLightIt.ttf.woff2') format('woff2'),
         url('./WOFF/OTF/SourceSansPro-ExtraLightIt.otf.woff') format('woff'),
         url('./OTF/SourceSansPro-ExtraLightIt.otf') format('opentype'),
         url('./TTF/SourceSansPro-ExtraLightIt.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src: url('./EOT/SourceSansPro-Regular.eot') format('embedded-opentype'),
         url('./WOFF2/TTF/SourceSansPro-Regular.ttf.woff2') format('woff2'),
         url('./WOFF/OTF/SourceSansPro-Regular.otf.woff') format('woff'),
         url('./OTF/SourceSansPro-Regular.otf') format('opentype'),
         url('./TTF/SourceSansPro-Regular.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    src: url('./EOT/SourceSansPro-It.eot') format('embedded-opentype'),
         url('./WOFF2/TTF/SourceSansPro-It.ttf.woff2') format('woff2'),
         url('./WOFF/OTF/SourceSansPro-It.otf.woff') format('woff'),
         url('./OTF/SourceSansPro-It.otf') format('opentype'),
         url('./TTF/SourceSansPro-It.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    src: url('./EOT/SourceSansPro-Bold.eot') format('embedded-opentype'),
         url('./WOFF2/TTF/SourceSansPro-Bold.ttf.woff2') format('woff2'),
         url('./WOFF/OTF/SourceSansPro-Bold.otf.woff') format('woff'),
         url('./OTF/SourceSansPro-Bold.otf') format('opentype'),
         url('./TTF/SourceSansPro-Bold.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 700;
    font-style: italic;
    font-stretch: normal;
    src: url('./EOT/SourceSansPro-BoldIt.eot') format('embedded-opentype'),
         url('./WOFF2/TTF/SourceSansPro-BoldIt.ttf.woff2') format('woff2'),
         url('./WOFF/OTF/SourceSansPro-BoldIt.otf.woff') format('woff'),
         url('./OTF/SourceSansPro-BoldIt.otf') format('opentype'),
         url('./TTF/SourceSansPro-BoldIt.ttf') format('truetype');
}
