
@import "../../scss/common";

.container {
    background-color: $theme-card-bg-color;
    max-width: 700px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(50,50,93,.11),
                0 1px 3px rgba(0,0,0,.08);
}
