
@import "../../scss/common";

.container {
    color: $theme-highlight-color;

    h3, p {
        @include body-font;
        margin: 0;
        padding: 0;
    }

    button {
        @include reset-button;
        @include body-font;
        border: 1px solid $theme-highlight-color;
        color: $theme-highlight-color;
        padding: 5px 20px;
        border-radius: 5px;
    }
}

.body {
    padding: 15px 0;
}

.bodyContainer {
    padding-bottom: 15px;
}

.nested {
    border-left: 30px solid $theme-divider-color;
    padding: 15px;

    &:empty {
        display: none;
    }
}
