
@import "../../scss/common";

.container {
    flex: 1;
    flex-direction: column;

    input, textarea {
        @include reset-input;
        @include body-font;
        background-color: white;
        border: 1px solid $theme-highlight-color;
        padding: 5px 10px;
        border-radius: 5px;
        display: block;
        width: 100%;
        margin-bottom: 5px;
    }

    button {
        @include reset-button;
        @include body-font;
        border: 1px solid $theme-highlight-color;
        color: $theme-highlight-color;
        padding: 5px 20px;
        border-radius: 5px;
    }
}
