
@import "../../scss/common";

.container {
    color: $theme-highlight-color;
    padding-bottom: 30px;

    h2, h3, p {
        @include body-font;
        margin: 0;
        padding: 0;
    }
}

.body {
    padding: 15px 0;
}
